/* Encabezado */
.Encabezado {
  /* Formato Texto */
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #ac1616;
  /* Imagen Fondo */
  background-image: url(../img/imagen-encabezado.jpg);
  background-size: contain;
  opacity: 0.5; }

/* Navegacion */
.navegacion {
  /* Distribucion en pagina */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* Formato Texto */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ac1616; }

@media screen and (max-width: 768px) {
  .navegacion {
    /* Distribucion en pagina */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center; } }

@media screen and (max-width: 610px) {
  .navegacion {
    /* Distribucion en pagina */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    /* Formato Texto */
    font-family: 'Roboto', sans-serif;
    font-size: 25px; } }

/* Pagina navegacion */
.parrafo {
  /* Fondo */
  background-color: #afacac;
  height: 400px;
  /* Formato Texto */
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 3px;
  margin-right: 3px; }

.titulo-pagina {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-left: 3px; }

/* hijo */
.chequeo {
  background-color: #828282d8;
  border: solid 1px black;
  color: #000000;
  padding: 25px 120px;
  text-decoration: none; }

@media screen and (max-width: 768px) {
  .chequeo {
    padding: 25px 60px;
    margin: 1px;
    transition-property: all; } }

.chequeo:hover {
  background-color: red;
  transform: scale(3); }

@keyframes entrada-central {
  0% {
    transform: translateY(100%); } }

/* Prueba git */
.lista-chequeo {
  background-color: #f90202be;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 2fr);
  justify-items: center;
  align-items: center;
  animation-name: entrada-central;
  animation-duration: 1s;
  margin-left: 3px;
  margin-right: 3px; }

@media screen and (max-width: 768px) {
  .lista-chequeo {
    height: 800px;
    width: 100%;
    grid-template-rows: repeat(5, 1fr); }
  .chequeo {
    padding: 25px 60px;
    margin: 1px;
    transition-property: all; } }

@media screen and (max-width: 525px) {
  .lista-chequeo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr); } }

.ubicacion {
  height: 50px;
  color: #000000;
  font-size: 30px; }

.mapa {
  background-color: #afacac;
  height: 600px;
  display: flex;
  align-items: center;
  justify-items: center; }

footer {
  background-color: #828282d8;
  color: #000000;
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none; }

footer div a {
  color: #000000;
  text-decoration: none; }

footer div:nth-child(even) {
  background-color: #ef5c5cd8;
  color: #000000; }
