.parrafo-contacto{
    /* Fondo */
    background-color: #afacac;
    height: 800px;
    /* Formato Texto */
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 3px;
    margin-right: 3px; }