
/* Prueba git */
.lista-chequeo {
    background-color: #f90202be;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 2fr);
    justify-items: center;
    align-items: center;
    animation-name: entrada-central;
    animation-duration: 1s;
    margin-left: 3px;
    margin-right: 3px;
}
@media screen and (max-width: 768px) {
    .lista-chequeo {
        height: 800px;
        width: 100%;
        grid-template-rows: repeat(5, 1fr);
    }
    .chequeo{
        padding: 25px 60px;
        margin: 1px;
        transition-property: all;
    }
}
@media screen and (max-width: 525px) {
    .lista-chequeo {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
}

